body {
    background-color: #ffb684;
    color: #405952;
    padding: 40px;
    font-family: arial;
  }

  /* NavBar */

  .navBarContainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-between;
      }
  
  .logo{
    align-self: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: overline;
    color: #405952;
    flex-grow: 1;
    flex-shrink: 2;
  }

  .links{
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
  }

  .navBarItem{
    align-self: center;
    margin: 20px;
    width: 30px;
    height: 30px;
  }

  .cardContainer{
    border-style: solid;
    border-color: #ffbd90;
    background-color: #ffe2ce;
    border-radius: 15px;
    margin: 20px;
    border-width: 2px;
    padding: 20px;
    min-height: 300px;
    color:#405952;
  }
  
  .line {
    width: 30%;
    margin: -15px auto 15px auto;
    border-bottom: 1px solid #405952;
  }

  .center{
    text-align: center;
    padding: 0;
    margin: 20px;
    color:#405952;

  }
  
  /* Intake  */
  
  .cardItem{
    color:#405952;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    flex-grow: 1;
    justify-content: center;
  }

  .noteType{
    color:#405952;

    background: #FFE2CE;
    width: 80px;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    border-style: none;
    flex-grow: 0;
  }

  .noteInput{
    flex-grow: 3;
    font-size: 15px;
    width: 80%;
    border-style: none;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 1px solid #405952;
    background-color: #ffebdd;
    margin: 10px;
  }
  .noteIcon {
    width: 20px; 
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .extraDetails{
    display: flex;
    align-self: center;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 120px
  }
  
  .dateEnter{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background: #FFE2CE;
    border-radius: 12px;
    padding: 2px;
    padding-left: 5px;
    align-self: center;
    border-style: none;
  }
  

  .intakeSlash{
    font-size: 50px;
    margin: 0 10px 0 15px;
  }
  

/* Rapid Log  */

  .flexList{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px
    }

/* Monthly View */

.calendarItemContainer{
  display: flex;
  align-items: stretch;
  padding: 10px

}

  .calendarItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    width: 35%
  }
  .monthSelect{
    background-color: #FFE2CE;
    border-style: none;
    font-size: 30px;
    padding: 3px;
    align-self: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px
  }
  .focus{
    align-self: center;
    justify-content: space-between;
    height: 350px;
    display: flex;
    flex-direction: column;
  }

  .allGoals{
    display: flex;
    flex-direction: column;
    }

  .halfGoals{
    display: flex;
    }

  .careerGoals,  .relationshipGoals{
    width: 50%;
    border-right: 1px solid #405952;
    overflow: scroll;
  }

  .careerGoals, .fitnessGoals{
    border-bottom: 1px solid #405952;
    margin-top: 20px;
    overflow: scroll;

  }
  .fitnessGoals, .restGoals {
    width: 50%;
    overflow: scroll;

  }

.goalItem{
  font-size: 16px;
  margin: 0 0 10px 10px;
  overflow: scroll;

}
 .goalSetContainer{
   display: flex;
   flex-wrap: nowrap;
   align-self: flex-end;
}

.editBox{
  font-size: 18px;
  border: none;
  border-radius: 12px;
  border-bottom: 1px solid #405952;
  margin: 10px 5px;
  height: 30px;
  width: 200px;
  flex-shrink: 2;
  padding-left: 10px;
  background-color: #ffebdd;
}

  .categorySelect{
    background: #FFE2CE;
    border-radius: 12px;
    padding: 0px;
    border-style: none;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .goalSubmit{
    display: grid;
    align-self: center;
    background: #222222;
    border-style: none;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  /* Monthly Tasks */
.monthlyTask{
  margin-top: 100px;
}
.monthlyTaskList{
  padding: 20px
}


/* Calendar */

.calendarFlexList{
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-grow: 1;
    width:50%
  }
  
  .day{
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #b7b7b7b2;  }
  .currentDay{
    width: 10px;
    font-weight:100;
    margin-left: -10px;
  }
  .dayItem{
    width: 60px;
    align-items: end;
    flex-wrap: nowrap;
    flex: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.5px;
  }
  .dayNumber{
  width:18px;
  text-align: right;
  }
  .dayLine{
    width: 10px;
    text-align: center;
    margin: 2px
  }
  .dayDay{
    width: 15px;
    text-align:center;
    /* margin-right: 3px */
  }

  .eventItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
  }
  .dayEvent{
    font-weight: 100;
    margin-left: 5px;
    display: flex;
    font-size: 18px;
  }
 
/* Note Item  */

.cursor{
  cursor: pointer;
}
  .item {
    margin:5px;
   font-size: 18px;
   width: 90%;
   height: 30px;
   display: flex;
   flex-direction: row;
   cursor: pointer;
  }

  .item:hover{
    border-bottom: 2px solid #405952;
  }

.taskItemIcon{
  padding: 0px;
  margin-right: 5px;
  width:20px;
  align-self: flex-start;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}


.itemIcon{
    padding: 0px;
    margin-right: 5px;
    width:20px;
    align-self: flex-start;
    text-align: center;
    font-weight: bold;
  }

  .noteEditBox{
    font-size: 18px;
    border: none;
    border-radius: 12px;
    margin-left:3px;
    width: 100%;
    flex-shrink: 2;
    background-color: #ffebdd;
  }

  .editItem{
    display: flex;
    flex-wrap: nowrap;
  }

  .editSave{
    background-color: #222222;
    color: whitesmoke;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 20px;
    height: 30px;
  }

  .editIcons{
    display: flex;
    margin-top: -10px;
}

.editButton{
  width:25px;
  border: none;
  margin-left: 5px;
  margin-right: 3px;
}

.deleteButton{
  width:25px;
  border: none;
}

/* Ideas  */

.allIdeas{
  display: flex;
}

.ideaContainer{
  display: flex;
  flex-direction: column;
  width: 20%;
  flex-grow: 1;
  border-right: 2px solid #405952;
  background-color: #FFE2CE;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  font-size: 20px;
  overflow: scroll;
}

.ideaDetails{
  font-size: 20px;
  width: 50%;
  flex-grow: 3;
  background-color: #FFE2CE;
  margin: 20px 20px 20px 10px;
  padding: 20px
}

.ideaEdit{
  display: flex;
  flex-direction: column;
  height: 430px;
}

.titleEdit{
  color: #405952 ;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  border-radius: 12px;
  padding: 10px;
  background-color: #ffebdd;
  border: solid;
  border-style: outset;
  border-color: #b7b7b7b2;
  border-width: 1px;
  border-radius: 15px;
}

.detailEdit{
  color: #405952 ;


font-size: 20px;
background-color: #ffebdd;
padding: 20px;
font-family: arial;
border-radius: 15px;
margin-top: 15px;
border: solid;
border-style: outset;
border-color: #b7b7b7b2;
border-width: 1px;
}

.close{
  font-size: 20px;
margin: 0 10px 0px 0px;
}

.saveButton{
  border: none;
  margin: 20px;
  align-self: center;
}


  .idea{
    margin:10px;
    display: flex;
  }

  .saveButton{
    background: #222222;
    border-style: none;
    border-radius: 12px;
    font-size: 18px;
    padding: 15px 30px;
    color: #f2f2f2;
  }


  /* Tasks */

  .taskContainer{
    border-style: solid;
    border-color: #ffbd90;
    background-color: #FFE2CE;
    border-radius: 15px;
    margin: 20px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding-top: 20px
  }

  .taskFlexContainer{
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    margin-right: 15px;
  }


  .checkDiv{
    align-self: flex-end;
    margin: 10px 25px 10px 0;
    height: 10px
  }

  .checkbox{
    right: -100vw;
    align-self: flex-end;
    margin-right:20px;
    margin-bottom: 10px;
  }

  .allTasks{
    display: flex;
    padding: 30px
  }

  .todoTasks{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }

.subtext {
text-align: center;
color: #9C9B7A;
margin-top: -10px;
}
  .completed {
    border-left: 2px solid;
    flex-grow: 1;
    width: 25%;
    background-color: #FFE2CE;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    overflow: scroll;
  }

  .taskItemDo,  .taskItemDelegate{
    width: 50%;
    height: 300px;
    border-right: 2px solid #405952
  }

.taskItemSchedule, .taskItemDo{
  width: 50%;
  height: 300px;
  border-bottom: 2px solid #405952;
}

  .taskItem{
    width: 50%;
    height: 300px;
    
  }

  .taskList{
  margin: 10px;
}

/* Toggle  */

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 60px;
  background: #ffcca9;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  border-radius: 12px;
  margin: 0 10px 0 10px
}

.react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15%;
  height: 55px;
  border-radius: 12px;
  transition: 0.2s;
  background: #405952;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-checkbox:checked + .react-switch-label {
  background-color: #405952;
  color: #FFE2CE
}
