body {
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: left bottom;
  color: #405952;
  font-family: arial;
  background-image: url("https://images.pexels.com/photos/1877920/pexels-photo-1877920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
  background-color: #f2f2f2;
  }

  /* NavBar */

  .navBarContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:20px
      }
  
  .logo{
    align-self: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-decoration: overline;
    color: #405952;
    flex-grow: 1;
    flex-shrink: 2;
  }

  .links{
    display: flex;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
  }

  .navBarItem{
    align-self: center;
    margin: 20px;
    width: 30px;
    height: 30px;
  }
  .page {
    background-color: #ffe2ce;
    border-radius: 12px;
    padding: 20px;
    color:#405952;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 5% 0 40%;
    align-items: center;
  }

  .pageNoFlex {
    background-color: #ffe2ce;
    border-radius: 12px;
    padding: 25px;
    color:#405952;
    width: 60%;
    margin-left: 30%;
  }

  .cardContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 350px;
  }
  
  .line {
    width: 30%;
    margin: -15px auto 15px auto;
    border-top: 1px solid #405952;
  }

  .center{
    text-align: center;
    color:#405952;
    margin-bottom: 25px;
  }
  h1{
  font-family: 'Petit Formal Script', cursive;
  }
  /* Intake  */
  
  .cardItem{
    color:#405952;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    margin: 5px 0 10px;
  }

  .noteType{
    color:#405952;
    background: #FFE2CE;
    border-radius: 12px;
    text-align: center;
    border-style: none;
    flex-grow: 0;
  }
  
  .noteIcon {
    width: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noteInput{
    flex-grow: 3;
    font-size: 15px;
    width: 80%;
    border-style: none;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 1px solid #405952;
    background-color: #ffebdd;
  }

  .extraDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  
  .dateEnter{
    width: 200px;
    height: 40px;
    font-size: 18px;
    background: #FFE2CE;
    border-radius: 12px;
    padding: 2px;
    padding-left: 5px;
    align-self: center;
    border-style: none;
  }
  

  .intakeSlash{
    font-size: 50px;
    margin: 0 10px 0 15px;
  }
  

/* Rapid Log  */

  .flexList{
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 40px;
    padding: 15px 40px;
    border-left: 2px solid #405952;
    }

/* Monthly View */

.calendarItemContainer{
  display: flex;
  align-items: stretch;

}

  .calendarItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 2;
    width: 35%
  }
  .monthSelect{
    background-color: #FFE2CE;
    border-style: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    color: #405952;
    font-family: 'Petit Formal Script', cursive;

  }
  .focus{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .allGoals{
    display: flex;
    flex-direction: column;
    height: 300px;
    }

  .halfGoals{
    display: flex;
    height: 50%;
    }

  .careerGoals,  .relationshipGoals{
    width: 50%;
    border-right: 1px solid #405952;
    overflow: scroll;
    padding: 10px
  }

  .careerGoals, .fitnessGoals{
    border-bottom: 1px solid #405952;
    overflow: scroll;
  }
  .fitnessGoals, .restGoals {
    width: 50%;
    overflow: scroll;
    padding: 10px
  }

.goalItem{
  font-size: 16px;
  margin: 0 0 10px 0;
  text-align: center;

}
 .goalSetContainer{
   display: flex;
   flex-wrap: nowrap;
   align-self: flex-end;
   margin-bottom: 20px;
}

.editBox{
  font-size: 18px;
  border: none;
  border-radius: 12px;
  border-bottom: 1px solid #405952;
  margin: 10px 5px;
  height: 30px;
  width: 200px;
  flex-shrink: 2;
  padding-left: 10px;
  background-color: #ffebdd;
}

  .categorySelect{
    background: #FFE2CE;
    border-radius: 12px;
    padding: 0px;
    border-style: none;
    flex-grow: 0;
    flex-shrink: 1;
  }



/* Calendar */

.calendarFlexList{
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-grow: 1;
    width:50%
  }
  
  .day{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #b7b7b7b2;  }

  .currentDay{
    width: 10px;
    font-weight:100;
    margin-left: -10px;
  }

  .dayItem{
    width: 60px;
    height: 30px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
  }
  .dayNumber{
  width:25px;
  text-align: right;
  display: flex;
  justify-content: end;
  }

  .dayLine{
    width: 10px;
    margin: 0 2px;
    text-align: center;
  }
  .dayDay{
    text-align: left;
    display: flex;

  }

  .eventItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    height: fit-content;
  }
  .dayEvent{
    font-weight: 100;
    margin-left: 5px;
    display: flex;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
  } 

  .eventDiv{
    display: flex;
    width: 86%;
    position: relative;
    margin-right: 3px;
  }

.eventAddDiv {
  display: flex;
  position: relative;
  width:90%;
  margin: 0 0 2px 11px
}
 .add{
  visibility: hidden;
  position: absolute;
  right: 0;
  pointer-events: none
 }

  input:hover + .add {
    visibility: visible;
  }

  input:focus + .add {
    visibility: visible
  }

 
/* Note Item  */
.cursor {
  cursor:pointer
}

  .item {
   margin-bottom: 10px;
   font-size: 18px;
   width: 100%;
   height: 30px;
   display: flex;
   flex-direction: row;
   height: fit-content;
   position: relative;
  }

  .itemE {
    font-size: 18px;
    width:100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: relative;
    margin-left: 5px;
   }
 

  input{
    font-size: 18px;
    height: 24px;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    border-bottom: 1px dashed transparent;
  }

  input:hover {
    border-bottom: 1px dotted #405952;
    cursor: pointer
  }

  input:focus{
    border-bottom: 2px solid #405952;
    cursor: text;
    outline: none;
  }

  .pencil{
    display: none;
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    right: 10px;
  }

  input:hover ~ .pencil{
    display: block;
  }
  
  input:focus ~ .pencil{
    display: none;
  }

  .delete{
    position: absolute;
    right: 10px;
    visibility: hidden;
    transition: visibility 150ms ease-in-out  ;
  }

  input:focus ~ .delete{
    background-color: transparent;
    visibility: visible;
  }

input.noteInput, input.editBox, input.titleEdit{
  border-bottom: 1px solid #405952;
}

.taskItemIcon{
  padding: 0px;
  margin-right: 5px;
  width:20px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}


.itemIcon{
    padding: 0px;
    margin-right: 5px;
    width:20px;
    align-self: center;
    text-align: center;
    font-weight: bold;
  }

  .noteEditBox{
    font-size: 18px;
    border: none;
    border-radius: 12px;
    margin-left:3px;
    width: 100%;
    flex-shrink: 2;
    background-color: #ffebdd;
  }

  .editItem{
    display: flex;
    flex-wrap: nowrap;
  }

  .editSave{
    background-color: #222222;
    color: whitesmoke;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 20px;
    height: 30px;
  }

  .editIcons{
    display: flex;
    margin-top: -10px;
}

.editButton{
  width:25px;
  border: none;
  margin-left: 5px;
  margin-right: 3px;
}

.deleteButton{
  width:25px;
  border: none;
}

/* Ideas  */

.allIdeas{
  display: flex;
}

.ideaContainer{
  display: flex;
  flex-direction: column;
  width: 20%;
  flex-grow: 1;
  border-right: 2px solid #405952;
  background-color: #FFE2CE;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  font-size: 20px;
  overflow: scroll;
}

.ideaDetails{
  font-size: 20px;
  width: 50%;
  flex-grow: 3;
  background-color: #FFE2CE;
  margin: 20px 20px 20px 10px;
  padding: 20px
}

.ideaEdit{
  display: flex;
  flex-direction: column;
  height: 430px;
}

.titleEdit{
  color: #405952 ;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  border-radius: 12px;
  padding: 10px;
  background-color: #ffebdd;
  border: solid;
  border-style: outset;
  border-color: #b7b7b7b2;
  border-width: 1px;
  border-radius: 15px;
}

.detailEdit{
  color: #405952 ;


font-size: 20px;
background-color: #ffebdd;
padding: 20px;
font-family: arial;
border-radius: 15px;
margin-top: 15px;
border: solid;
border-style: outset;
border-color: #b7b7b7b2;
border-width: 1px;
}

.close{
  font-size: 20px;
margin: 0 10px 0px 0px;
}

.saveButton{
  border: none;
  margin: 20px;
  align-self: center;
}


  .idea{
    margin:10px;
    display: flex;
  }

  .saveButton{
    background: #222222;
    border-style: none;
    border-radius: 12px;
    font-size: 18px;
    padding: 15px 30px;
    color: #f2f2f2;
  }


  /* Tasks */

  .taskContainer{
    border-style: solid;
    border-color: #ffbd90;
    background-color: #FFE2CE;
    border-radius: 15px;
    margin: 20px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding-top: 20px
  }

  .taskFlexContainer{
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
  }


  .checkDiv{
    position: absolute;
    margin: 10px 25px 10px 0;
    height: 10px;
    right:80px
  }

  .checkbox{
    right: -100vw;
    align-self: flex-end;
    margin-right:20px;
    margin-bottom: 10px;
  }

  .allTasks{
    display: flex;
    padding: 30px
  }

  .todoTasks{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
  }

.subtext {
text-align: center;
color: #9C9B7A;
margin-top: -10px;
}
  .completed {
    border-left: 2px solid;
    flex-grow: 1;
    width: 25%;
    background-color: #FFE2CE;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    overflow: scroll;
  }

  .taskItemDo,  .taskItemDelegate{
    width: 50%;
    height:100%;
    border-right: 2px solid #405952;
    min-height: 300px;

  }

.taskItemSchedule, .taskItemDo{
  width: 50%;
  height: 100%;
  border-bottom: 2px solid #405952;
  min-height: 300px;

}

.taskItem{
   width: 50%;
   height: 100%;
   min-height: 300px;
  }

  .taskList{
padding: 30px;
  overflow: scroll;
}

/* Toggle  */

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 135px;
  height: 50px;
  background: #9C9B7A;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  border-radius: 12px;
  margin: 0 10px 0 10px
}

.react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15%;
  height: 45px;
  border-radius: 12px;
  border:none;
  transition: 0.2s;
  background: #405952;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-checkbox:checked + .react-switch-label {
  background-color: #405952;
  color: #FFE2CE
}
