body {
    background-color: #dddbdb;
    color: #222222;
    padding: 40px;
    font-family: arial;
  }

  .navBarContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
      }

  .navBarItem{
    display: flex;
    align-self: center;
    margin: 10px;
    width: 45px;
    height: 45px;
  }

  .cardContainer{
    border-style: outset;
    border-color: #b7b7b7b2;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 20px;
  }
  
  .cardItem{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    flex-grow: 1
  }

  .cardItem1{
    background: #F2F2F2F2;
    width: 30px;
    border-radius: 12px;
    padding: 0px;
    border-style: none;
    flex-grow: 0;
  }

  .cardItem2{
    flex-grow: 3;
    width: 90%;
    border-style: none;
    padding: 10px;
    border-radius: 12px;
    border-bottom: 1px solid #b7b7b7b2;
    background-color: #F2F2F2F2;
  }

  .cardItem3{
    width: 175px;
    background: #F2F2F2F2;
    border-radius: 12px;
    padding: 2px;
    padding-left: 5px;
    border-style: none;
  }
  
  .button{
    display: grid;
    align-self: center;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    background: #222222;
    border-style: none;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #f2f2f2
  }

  .calendarItem{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    align-items: start;
  }
  .calendarFlexList{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
  }

  .flexList{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .day{
    font-weight: bold;
    margin: 5px;
    display: flex;
  }
  .dayEvent{
    font-weight: 100;
    display: flex;
    margin-left: 3px;
  }

  .monthSelect{
    background-color: #f2f2f2;
    border-style: none;
    font-size: 30px;
    padding: 3px;
    margin: auto;
    font-weight: bold;
  }
  .item {
    padding: 2px;
    margin: 5px;
    width: 100%;
  }

  .center{
text-align: center;
  }

  .additionalNotes {
    width: 500px;
    height: 60px;
    border-style: dotted;
    background-color: #f3efef96
  }

  .noteBox{
    margin: 20px
  }